<ul class="container">
    <li *ngFor="let snippet of myList">
        <h3>{{ snippet.title }}</h3>
        <span>#{{ snippet.language }}</span>
        <a [routerLink]="['./', snippet.id]">More ...</a>
    </li>
</ul>

        