<div class="social-networks">
    <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.github.com/" target="blank"><i class="fab fa-github"></i></a>
</div>