@import "./../../../styles/colors";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
.social-networks {
  background: $bg-color;
  width: 100vw;
  height: 100px;
  /* position: absolute; */
  bottom: 0;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  align-items:center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
  a .fab {
    font-size: 30px;
    color:dimgray;
    width: 60px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    margin: 0 15px;
    border-radius: 50px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      color: orangered;
      transform: scale(0.95);
      box-shadow: -10px -10px 30px 0 rgba(0, 0, 0, 0.1), 10px 10px 30px white,
        inset -3px -3px 10px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 10px white;
    }
  }
}
