@import "/src/styles/colors";
.container {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  height: calc(100vh - 200px);
  width: 650px;
  background-color: $bg-color;
  box-shadow: 10px 10px 24px #c3c7cd, -10px -10px 24px hsl(180, 100%, 100%);
  border-radius: 40px;
  color: dimgray;
  h1 {
    font-weight: 700px;
    text-align: center;
    padding: 20px;
  }
  pre code{
    width: 90%;
    height: fit-content;
    padding: 30px 25px;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 18px;
    background-color: dimgray;
    box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
      inset -4px -4px 6px rgba(0, 0, 0, 0.1);
    color:white;
  }
}
