<header>
    <nav>
        <ul class="nav">
            <li><a [routerLink] = "['/Welcome']">Home</a></li>
            <li><a [routerLink] = "['/CSS']">CSS</a></li>
            <li><a [routerLink] = "['/HTML']">HTML</a></li>
            <li><a [routerLink] = "['/Javascript']">Javascript</a></li>
            <li><a [routerLink] = "['/New']">New</a></li>
        </ul>
    </nav>
</header>
