@import "./../../../styles/fonts";
@import "./../../../styles/colors";
.nav {
  width: 100vw;
  height: 100px;
  background-color: $bg-color;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  list-style-type: none;
  li {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    border-radius: 10px;
    font-family: $font-primary, sans-serif;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
    a {
      text-decoration: none;
      color: dimgray;
      &:hover,
      &:focus {
        color: orangered;
      }
    }
    &:hover {
      transform: scale(0.95);
      box-shadow: -10px -10px 30px 0 rgba(0, 0, 0, 0.1), 10px 10px 30px white,
      inset -3px -3px 10px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 10px white;
    }
  }
}
