@import "./../../../styles/colors";
@import "./../../../styles/fonts";
.container {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  background-color: $bg-color;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
  fieldset {
    border: none;
    textarea {
      width: 100%;
      height: 300px;
      padding: 20px 25px;
      margin-bottom: 25px;
      border: none;
      color: white;
      border-radius: 50px;
      font-size: 18px;
      font-family: $font-primary;
      background-color: #545455;
      resize: vertical;
    }
  }
  h1 {
    color: dimgray;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
  }
  input {
    width: 100%;
    margin-bottom: 50px;
    padding: 30px 25px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background-color: $bg-color;
    box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
      inset -4px -4px 6px white;
  }

  button {
    height: 60px;
    padding: 0 30px;
    border-radius: 98px;
    border: transparent solid 4px;
    font-size: 18px;
    color: dimgray;
    background: $bg-color;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    cursor: pointer;
    &:active {
      border: $bg-color solid 4px;
      box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white,
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1), inset -4px -4px 6px white;
      color: orangered;
    }
  }
}
