<div class="container">
    <h1>Add a new snippet</h1>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="newForm">
        <fieldset>
            <label for="language"></label>
            <input type="text" id="language" formControlName="language" placeholder="Choose language" />
        </fieldset>
        <fieldset>
            <label for="keywords"></label>
            <input type="text" id="keywords" formControlName="keywords" placeholder="Choose identifying keywords"/>
        </fieldset>
        <fieldset>
            <label for="title"></label>
            <input type="text" id="title" formControlName="title" placeholder="Choose a title for your snippet" />
        </fieldset>
        <fieldset>
            <label for="code"></label>
            <textarea formControlName="code" id="code" placeholder="Paste your code here"></textarea>
           <!--  <input type="text" id="code" formControlName="code" placeholder="Paste your code here"/> -->
        </fieldset>
        <!-- Botón deshabilitado hasta que el formulario sea valid -->
        <button (click)="onSubmit()">Submit</button>
    </form>
</div>