.container{
    height: calc(100vh - 200px);
    justify-content:flex-start;
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    ul >li{
        display:inline-flex;
    }
    span{
        margin: 0 5px;
        color:gray;
    }
    a {
        margin: 0 5px;
        text-decoration: none;
        color: dimgray;
        &:hover,
        &:focus {
          color: orangered;
        }
    }
  }