/* You can add global styles to this file, and also import other style files */
@import './styles/colors';
@import './styles/fonts';
@import './styles/responsive';
@import '~highlight.js/styles/github.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: $bg-color;
    font-family: $font-primary;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }